* { box-sizing: border-box }

body {
	margin: 0;
	padding: 0;
	background-color: #111;
}

#board {
	width: 640px;
	height: 640px;
	display: none;
}

#post {
	height: 100%;
	padding: 0;
	margin: 0;
}

section {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: 0;
	text-align: center;
	overflow: hidden;
}

#preload {
	opacity: 0.4;
	color: #fff;
	font-family: monospace;
	font-size: 40pt;
	position: absolute;
	top: 45%;
	left: 45%;
}

